# build
build/
tsconfig.tsbuildinfo

# secrets
.env
.env.local
.env.development
.env.production
.env.docker


# node modules
node_modules/

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
serverlogs/
logs/

# os files
.DS_Store
Thumbs.db


# lock files
package-lock.json

# docker related
docker-compose.override.yml
*.log

# ides
.vscode/
*.swp
.history/

# terraform
.terraform/
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfbackup